@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background-color: #FFF8DC;
}

#topo {
  img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;

    &:hover {
      background-color: gold;
    }
  }
}

a.carrinho {
  position: fixed;
  top: 10px;
  right: 100px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: yellow;
    cursor: pointer;
  }

  img {
    width: 38px;
    height: 38px;
    padding: 5px;
    border-radius: 8px;
  }
}

a.cadastro {
  position: fixed;
  top: 13px;
  right: 10px;
  width: 80px;
  height: 35px;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: yellow;
    cursor: pointer;
  }
}

header {
  div.banner {
    width: 100%;
    height: 350px;
    background-image: url(../img/cabecalho/header/fundo-site-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;

    button:hover {
      background-color: yellow;
      cursor: pointer;
    }
  }
  nav {
    width: 100%;
    height: 90px;
    padding: 10px 0px;
    border-bottom: 2px solid black;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-weight: bold;
        width: 100px;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          border-radius: 10px;

          img {
            width: 50px;
            height: 50px;
            margin-bottom: 5px;
            padding: 5px;
            border: 2px solid black;
            border-radius: 10px;

            &:hover {
              background-color: yellow;
            }
          }
        }
      }
    }
  }
}
