* {
  box-sizing: border-box;
}

a.pagina-ativa {
  background-color: yellow;
}

main {
  h1 {
    margin: 15px 0;
    text-align: center;
    font-size: 50px;
  }

  form {
    width: 30%;
    height: 400px;
    margin: 0 auto 20px auto;
    padding: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #DEB887;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid black;
      border-radius: 20px;

      &:focus {
        outline: none;
        padding: 7px;
        border: 2px solid red;
      }
    }

    button {
      display: block;
      margin-top: 35px;
      width: 100%;
      padding: 8px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: #FFF8DC;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: orange;
      }
    }
  }
}