footer {
  background-color: gold;

  section.informacoes {
    display: flex;
    word-wrap: break-word;

    div {
      width: 25%;
      height: auto;
      padding: 50px 20px 20px 20px;
      border-style: solid none;
      border-width: 2px;

      h2 {
        text-align: center;
        margin-bottom: 25px;
      }

      p {
        font-size: 22px;
      }
    }
    span.icones-pagamento {
      display: flex;
      justify-content: space-evenly;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  p.copyright {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
}
